body {
    margin: 0;
}

#wrapper {
    width: 80vh;
    height: 100%;
    margin: 0 auto;
    border: solid red 1px;
}

#header {
    border: solid green 1px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
table,th,tr,td {
    border: 1px black solid;
    border-collapse: collapse;
}

table input {
    width: 10vh;
    height: 10vh;
    text-align: center;
}